<div class="w-[1250px] py-3 pl-6">
  <div class="flex items-center justify-between p-4 w-full">
    <div class="flex items-center space-x-2">
      <!-- <span class="text-lg font-semibold">Hello Tanzir</span> -->
      <div class="flex items-center ml-1">
        <svg
          width="7"
          height="12"
          viewBox="0 0 7 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1 11L6 6L1 1"
            stroke="#9F9F9F"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
        <svg
          width="7"
          height="12"
          viewBox="0 0 7 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1 11L6 6L1 1"
            stroke="#9F9F9F"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <span class="text-gray-500">May 19, 2023</span>
    </div>
    <div class="flex items-center space-x-4 ml-8">
      <button class="relative">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
          <path
            d="M224 0c-17.7 0-32 14.3-32 32V51.2C119 66 64 130.6 64 208v18.8c0 47-17.3 92.4-48.5 127.6l-7.4 8.3c-8.4 9.4-10.4 22.9-5.3 34.4S19.4 416 32 416H416c12.6 0 24-7.4 29.2-18.9s3.1-25-5.3-34.4l-7.4-8.3C401.3 319.2 384 273.9 384 226.8V208c0-77.4-55-142-128-156.8V32c0-17.7-14.3-32-32-32zm45.3 493.3c12-12 18.7-28.3 18.7-45.3H224 160c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7z"
          />
        </svg>
        <!-- <span class="absolute top-0 right-0 inline-block w-2 h-2 bg-green-500 rounded-full"></span> -->
      </button>
      <div class="relative">
        <input
          type="text"
          placeholder="Search here"
          class="pl-4 pr-10 py-2 border rounded-full focus:outline-none focus:ring-2 focus:ring-gray-200"
        />
        <svg
          class="w-5 h-5 text-gray-500 absolute right-3 top-1/2 transform -translate-y-1/2"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
          ></path>
        </svg>
      </div>
    </div>
  </div>
  <div class="">
    <h2 class="pl-4 mb-2 text-lg text-gray-500">Balances</h2>
    <div class="grid grid-cols-3 gap-4">
      <!-- Card 1 -->
      <div
        class="border rounded-lg shadow-lg bg-white py-4 px-6 w-[350px] ml-3"
      >
        <div class="flex justify-between items-center mb-4">
          <div>
            <div class="flex justify-between items-center my-2 w-[300px]">
              <div class="text-sm text-gray-500 font-bold">Credit Card</div>
              <div class="flex justify-center items-center">
                <div class="text-sm text-gray-500">Master Card</div>
                <img src="assets/img/Mastercard-Logo.svg" alt="" />
              </div>
            </div>
            <div class="mr-12">
              <div class="font-bold text-lg">3388 4566 8860 8***</div>
              <div class="text-xs text-gray-500">Account number</div>
              <div class="font-bold text-lg">$25000</div>
              <div class="text-xs text-gray-500">Total amount</div>
            </div>
          </div>
        </div>
        <div class="flex justify-between items-center">
          <button class="text-cyan-600 hover:text-cyan-700 font-semibold">
            Remove
          </button>
          <button
            class="text-white bg-cyan-600 py-1 px-3 rounded flex items-center pr-2"
          >
            Details
            <svg
              class="ml-2 w-4 h-4"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 5l7 7-7 7"
              ></path>
            </svg>
          </button>
        </div>
      </div>
      <!-- Card 2 -->
      <div
        class="border rounded-lg shadow-lg bg-white py-4 px-6 w-[350px] ml-3"
      >
        <div class="flex justify-between items-center mb-4">
          <div>
            <div class="flex justify-between items-center my-2 w-[300px]">
              <div class="text-sm text-gray-500 font-bold">Cheking</div>
              <div class="flex justify-center items-center">
                <div class="text-sm text-gray-500">Ab Bank LTD.</div>
                <img src="assets/img/Visacard.svg" alt="" />
              </div>
            </div>
            <div class="mr-12">
              <div class="font-bold text-lg">393 456 69 9***</div>
              <div class="text-xs text-gray-500">Account number</div>
              <div class="font-bold text-lg">$25000</div>
              <div class="text-xs text-gray-500">Total amount</div>
            </div>
          </div>
        </div>
        <div class="flex justify-between items-center">
          <button class="text-cyan-600 hover:text-cyan-700font-semibold">
            Remove
          </button>
          <button
            class="text-white bg-cyan-600 py-1 px-3 rounded flex items-center pr-2"
          >
            Details
            <svg
              class="ml-2 w-4 h-4"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 5l7 7-7 7"
              ></path>
            </svg>
          </button>
        </div>
      </div>
      <!-- Card 3 -->
      <div
        class="border rounded-lg shadow-lg bg-white py-4 px-6 w-[350px] ml-3"
      >
        <div class="flex justify-between items-center mb-4">
          <div>
            <div class="flex justify-between items-center my-2 w-[300px]">
              <div class="text-sm text-gray-500 font-bold">Savings</div>
              <div class="flex justify-center items-center">
                <div class="text-sm text-gray-500">Brac Bank Ltd.</div>
                <!-- <img src="assets/img/Mastercard-Logo.svg" alt=""> -->
              </div>
            </div>
            <div class="mr-12">
              <div class="font-bold text-lg">133 456 886 8***</div>
              <div class="text-xs text-gray-500">Account number</div>
              <div class="font-bold text-lg">$25000</div>
              <div class="text-xs text-gray-500">Total amount</div>
            </div>
          </div>
        </div>
        <div class="flex justify-between items-center">
          <button class="text-cyan-600 hover:text-cyan-700 font-semibold">
            Remove
          </button>
          <button
            class="text-white bg-cyan-600 py-1 px-3 rounded flex items-center pr-2"
          >
            Details
            <svg
              class="ml-2 w-4 h-4"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 5l7 7-7 7"
              ></path>
            </svg>
          </button>
        </div>
      </div>
      <!-- Card 4 -->
      <div
        class="border rounded-lg shadow-lg bg-white py-4 px-6 w-[350px] ml-3"
      >
        <div class="flex justify-between items-center mb-4">
          <div>
            <div class="flex justify-between items-center my-2 w-[300px]">
              <div class="text-sm text-gray-500 font-bold">Investmen</div>
              <div class="flex justify-center items-center">
                <div class="text-sm text-gray-500">AB Bank Ltd.</div>
                <!-- <img src="assets/img/Mastercard-Logo.svg" alt=""> -->
              </div>
            </div>
            <div class="mr-12">
              <div class="font-bold text-lg">698 456 866 2***</div>
              <div class="text-xs text-gray-500">Account number</div>
              <div class="font-bold text-lg">$25000</div>
              <div class="text-xs text-gray-500">Total amount</div>
            </div>
          </div>
        </div>
        <div class="flex justify-between items-center">
          <button class="text-cyan-600 hover:text-cyan-700 font-semibold">
            Remove
          </button>
          <button
            class="text-white bg-cyan-600 py-1 px-3 rounded flex items-center pr-2"
          >
            Details
            <svg
              class="ml-2 w-4 h-4"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 5l7 7-7 7"
              ></path>
            </svg>
          </button>
        </div>
      </div>
      <!-- Card 5 -->
      <div
        class="border rounded-lg shadow-lg bg-white py-4 px-6 w-[350px] ml-3"
      >
        <div class="flex justify-between items-center mb-4">
          <div>
            <div class="flex justify-between items-center my-2 w-[300px]">
              <div class="text-sm text-gray-500 font-bold">Loan</div>
              <div class="flex justify-center items-center">
                <div class="text-sm text-gray-500">City Bank Ltd.</div>
                <!-- <img src="assets/img/Mastercard-Logo.svg" alt=""> -->
              </div>
            </div>
            <div class="mr-12">
              <div class="font-bold text-lg">363 456 896 6***</div>
              <div class="text-xs text-gray-500">Account number</div>
              <div class="font-bold text-lg">$25000</div>
              <div class="text-xs text-gray-500">Total amount</div>
            </div>
          </div>
        </div>
        <div class="flex justify-between items-center">
          <button class="text-cyan-600 hover:text-cyan-700 font-semibold">
            Remove
          </button>
          <button
            class="text-white bg-cyan-600 py-1 px-3 rounded flex items-center pr-2"
          >
            Details
            <svg
              class="ml-2 w-4 h-4"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 5l7 7-7 7"
              ></path>
            </svg>
          </button>
        </div>
      </div>
      <!-- Card 6 -->
      <div
        class="border rounded-lg shadow-lg bg-white py-4 px-6 w-[350px] ml-3 flex items-center justify-center"
      >
        <div class="flex-col flex">
          <button [routerLink]="['/sidebar/balances/accdetails']" routerLinkActive="router-link-active" 
            class="text-white bg-cyan-600 rounded flex items-center justify-center w-52 py-3 px-8 mb-[2px]"
          >
            Add Accounts
          </button>
          <button [routerLink]="['/sidebar/balances/accdetails']" routerLinkActive="router-link-active" 
            class="text-gray-500 bg-white rounded flex items-center justify-center w-52 py-3 px-8"
          >
            Edit Accounts
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  
</div>
